<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<title>Events Planning  a Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Events Planning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<!-- header -->
			<div class="header">
				<div class="agileits_w3layouts_logo">
					<h1><a>Casamiento!</a></h1>
				</div>
				<div class="agileinfo_social_icons">
					<ul class="agileits_social_list">
						<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>	
			<!-- //header -->
			<div class="w3ls_banner_info">
				<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="agileits_w3layouts_banner_info">
						<h3>Los profesionales manejan el evento!</h3>
						<p>Anos de experiencia manejando bodas con una gran satisfaccion de nuestros clientes, y esta no es la excepcion, preparate para este gran evento!</p>
					</div>
				</li>
				<li>
					<div class="agileits_w3layouts_banner_info">
						<h3>Consegui tu invitacion!</h3>
						<a class="btn btn-danger btn-lg" href="https://wa.me/+1415523-8886/?text=join%20practical-realize" role="button">Click Aqui</a>
					</div>
				</li>
				<li>
					<div class="agileits_w3layouts_banner_info">
						<h3>Una noche inolvidable!</h3>
						<p>Organizamos nuestros eventos con mucho carino, preparate para una noche llena de diversion y sorpresas! </p>
					</div>
				</li>
			</ul>
		</div>
	</section>
			<!-- flexSlider -->
				<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
			<!-- //flexSlider -->
			</div>
		</div>
	</div>
<!-- //banner -->


	

<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<h3 class="w3layouts_head">Bienvenido a nuestro <span>Evento</span></h3>
			<p class="w3_para"></p>
			<div class="w3ls_banner_bottom_grids">
				<div class="col-md-4 agileits_banner_bottom_grid_left">
					<div class="agileinfo_banner_bottom_grid_l_grid">
						<i class="fa fa-birthday-cake" aria-hidden="true"></i>
					</div>
					<h4>Tortas</h4>
					<p>Hacemos la torta de la manera que quieras, con el diseno y tamano que quieras.</p>
				</div>
				<div class="col-md-4 agileits_banner_bottom_grid_left">
					<div class="agileinfo_banner_bottom_grid_l_grid">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</div>
					<h4>Casamiento</h4>
					<p>Manejamos y ajustamos el evento de manera personalizada a preferencia del cliente.</p>
				</div>
				<div class="col-md-4 agileits_banner_bottom_grid_left">
					<div class="agileinfo_banner_bottom_grid_l_grid">
						<i class="fa fa-snowflake-o" aria-hidden="true"></i>
					</div>
					<h4>Climatizado</h4>
					<p>Ambiente climatizado para el gusto de nuestros clientes, generamos confort y un espacio agradable.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- services -->
	<div class="agile-ser">
		<div class="container">
			<h3 class="w3layouts_head">Nuestros <span>Servicios</span></h3>
			<p class="w3_para">Ofrecemos una gran variedad de servicios de una excelente calidad, la opcion numero uno de nuestros clientes para su boda.</p>
				<div class="agile-ser-tp">
					<div class="col-md-4 w3-lft">
						<div class="w3agile_special_deals_grid_left_grid">
							<img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="">
						</div>
						<h4>Diferentes localizaciones</h4>
						<p>Seleccionas a tu gusto la localizacion del evento, elegi como te quede mas comodo, nosotros lo hacemos por vos!.</p>
					</div>
					<div class="col-md-4 w3-lft">
						<div class="w3agile_special_deals_grid_left_grid">
							<img src="{% static 'images/5.jpg' %}" class="img-responsive" alt="">
						</div>
						<h4>Catering & comida</h4>
						<p>Tenes a tu disposicion una gran variedad de opciones para tu comida, traida a ustedes por nuestro especializado servicio de reconocidos cocineros.</p>
					</div>
					<div class="col-md-4 w3-lft">
						<div class="w3agile_special_deals_grid_left_grid">
							<img src="{% static 'images/9.jpg' %}" class="img-responsive" alt="">
						</div>
						<h4>Decoraciones</h4>
						<p>Para complementar y dar forma a tu boda, realizamos la decoracion del evento de la maneara que quieras, con una amplia seleccion de estilos para todos los gustos.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //services -->
<!-- quicklinks -->
	<div class="quicklinks-agile-info">
		<div class="container">
			<h3 class="w3layouts_head">Quick <span>Links</span></h3>
			<p class="w3_para">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
				<div class="quicklinks-agile-info-top">
					<div class="col-md-6 agile-info-top-left">
						<div class="w3agile_special_deals_grid_left_grid">
							<img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-6 agile-info-top-right">
						<h4>Specials</h4>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Localizacion de la Fiesta</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Catering & Comida</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Alquileres y ofertas</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Elementos & Regalos para tu Fiesta</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Entretenimiento</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Fotografia</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Globos y Flores</a></li>
							<li><a><i class="fa fa-arrow-right" aria-hidden="true"></i>Decoracion</a></li>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="quicklinks-agile-info-top">
					<div class="col-md-6 agile-info-top-right ece">
							<h4>Fiesta de Casamiento</h4>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Anillo de Bodas</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vestidos de novia</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Torta de Casamiento</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Video</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Oficiante de Boda</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Localizacion de la ceremonia</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Decorativa basica</a></li>
								<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Transporte & Limusina</a></li>																
					</div>
					<div class="col-md-6 agile-info-top-left">
						<div class="w3agile_special_deals_grid_left_grid">
							<img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
						</div>
					</div>
					
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //quicklinks -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Planificacion de eventos</a></h2>
			<h3>(+54) 351 690 420</h3>
		</div>
	</div>
<!-- //footer -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- menu -->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- //menu -->
<!-- for bootstrap working -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>